[project]
name = "pyshv"
description = "Pure Python SHV implementation"
readme = "README.rst"
dynamic = ["version"]
license = {file = "LICENSE"}
authors = [
  { name="Elektroline a.s." },
]
classifiers = [
  "Development Status :: 3 - Alpha",
  "License :: OSI Approved :: MIT License",
  "Programming Language :: Python :: 3",
  "Operating System :: OS Independent",
  "Framework :: AsyncIO",
  "Intended Audience :: Developers",
  "Topic :: Home Automation",
  "Topic :: System :: Networking",
  "Typing :: Typed",
]
requires-python = ">=3.11"
dependencies = [
  "python-dateutil",
  "pyserial",
  "aioserial",
  "asyncinotify",
]

[project.urls]
"Homepage" = "https://gitlab.com/elektroline-predator/pyshv"
"Bug Tracker" = "https://gitlab.com/elektroline-predator/pyshv/-/issues"
"Github" = "https://github.com/silicon-heaven/libshv-py"

[project.optional-dependencies]
docs = [
  "sphinx",
  "sphinx_rtd_theme",
  "sphinx-multiversion",
]
test = [
  "pytest",
  "pytest-asyncio",
  "pytest-cov",
]
lint = [
  "black",
  "isort",
  "pydocstyle",
  "pylint",
  "mypy",
  "types-pyserial",
  "types-python-dateutil",
]

[project.scripts]
pycp2cp = "shv.cp2cp.__main__:main"
pyshvbroker = "shv.broker.__main__:main"

[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[tool.setuptools.dynamic]
version = {file = "shv/version"}
[tool.setuptools.packages.find]
exclude = ["docs", "tests*"]
[tool.setuptools.package-data]
"*" = ["version", "py.typed"]

[tool.pytest.ini_options]
asyncio_mode = "auto"

[tool.coverage.run]
branch = true
omit = ["tests/*"]
[tool.coverage.report]
exclude_lines = [
    "pragma: no cover",
    "if typing.TYPE_CHECKING:"
]

[tool.isort]
profile = 'black'

[tool.pylint.main]
recursive = "y"
ignore = ["tests", "docs"]
fail-under = 9.5
[tool.pylint.format]
disable = [
  # Exception can be safely caught because there is BaseException for unsafe
  # ones (such as SystemExit) and there are reasons to catch all exceptions.
  "W0718",
  # Prevent usage of module name in documentation (seems unreasonable)
  "C0104",
  # We have pydocstyle for the following ones
  "C0103", "C0114", "C0115", "C0116",
]
# https://black.readthedocs.io/en/stable/guides/using_black_with_other_tools.html
max-line-length = 88
